{% extends 'base.back.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>les Évenements</h1>
    <a href="{{ path('app_admin_evenement_new') }}" class="btn btn-inverse-success p-2 mb-2">Nouveau</a>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Titre</th>
                <th>Description</th>
                <th>Duree</th>
                <th>Collaboration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                {# <td>{{ evenement.id }}</td> #}
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.duree }}</td>
                <td>{{ evenement.collaboration }}</td>
                <td>
                    <a href="{{ path('app_admin_evenement_show', {'id': evenement.id}) }}">
                        <span class="menu-icon">
                            <i class="mdi mdi-eye btn btn-rounded btn-inverse-primary m-1"></i>
                        </span>
                    </a>
                    <a href="{{ path('app_admin_evenement_edit', {'id': evenement.id}) }}">
                        <span class="menu-icon">
                            <i class="mdi mdi-border-color btn btn-rounded btn-inverse-warning m-1"></i>
                        </span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun évenement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
