{% extends 'base.back.html.twig' %}

{% block title %}Tarif index{% endblock %}

{% block body %}
    <h1>Les Tarifs</h1>
    <a href="{{ path('app_admin_tarif_new') }}" class="btn btn-inverse-success p-2 mb-2">Nouveau</a>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarif in tarifs %}
            <tr>
                {# <td>{{ tarif.id }}</td> #}
                <td>{{ tarif.nom }}</td>
                <td>{{ tarif.Prix }}</td>
                <td>
                    <a href="{{ path('app_admin_tarif_show', {'id': tarif.id}) }}">
                        <span class="menu-icon">
                            <i class="mdi mdi-eye btn btn-rounded btn-inverse-primary m-1"></i>
                        </span>
                    </a>
                    <a href="{{ path('app_admin_tarif_edit', {'id': tarif.id}) }}">
                        <span class="menu-icon">
                            <i class="mdi mdi-border-color btn btn-rounded btn-inverse-warning m-1"></i>
                        </span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun Tarif trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
