{# {% extends 'base.html.twig' %} #}

{% block title %}
{% endblock %}

{% block stylesheets %}
	<meta
	name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- plugins:css -->
	<link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
	<link
	rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">

	<!-- Layout styles -->
	<link
	rel="stylesheet" href="../../assets/css/style.css">

	<!-- End layout styles -->
	<link rel="shortcut icon" href="../../assets/images/favicon.png"/>
{% endblock %}

{% block body %}

	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<div class="container-scroller">
			<div class="container-fluid page-body-wrapper full-page-wrapper">
				<div class="row w-100 m-0">
					<div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
						<div class="card col-lg-4 mx-auto">
							<div class="card-body px-5 py-5">
	{% if not app.user %}
								<h3 class="card-title text-left mb-3">Connexion</h3>
								<form method="post">
									<div class="form-group">
										<label for="inputEmail">Email *</label>
										<input type="email" value="{{ last_username }}" class="form-control p_input" name="email" id="inputEmail" autocomplete="email" required autofocus>
									</div>
									<div class="form-group">
										<label for="inputPassword">Mot de passe *</label>
										<input type="password" name="password" id="inputPassword" class="form-control p_input" autocomplete="current-password" required>
									</div>
                  					<input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
									<div class="form-group d-flex align-items-center justify-content-between">
										<div class="form-check">
											<label class="form-check-label">
												<input type="checkbox" class="form-check-input">
												Se souvenir de moi
											</label>
										</div>
										<a href="#" class="forgot-pass">Mot de passe oublié?</a>
									</div>
									<div class="text-center">
										<button type="submit" class="btn btn-primary btn-block enter-btn">Connexion</button>
									</div>
									<p class="sign-up">Vous n'avez pas de compte?<a href="{{ path('app_register')}}">
											Cliquer ici</a>
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- row ends -->
			</div>
			<!-- page-body-wrapper ends -->
		</div>
   		{% else %}
			<div class="mon-compte mb-3">
				<p>
					Bonjour  {{app.user.nom}} !
				</p>
				<a href="{{ path('app_logout') }}" class="btn btn-primary btn-block enter-btn">Déconnexion</a>
   			</div>
   		{% endif %}

	{% endblock %}

	{% block javascripts %}
		<!-- plugins:js -->
		<script src="../../assets/vendors/js/vendor.bundle.base.js"></script>

		<!-- inject:js -->
		<script src="../../assets/js/off-canvas.js"></script>
		<script src="../../assets/js/hoverable-collapse.js"></script>
		<script src="../../assets/js/misc.js"></script>
		<script src="../../assets/js/settings.js"></script>
		<script src="../../assets/js/todolist.js"></script>
	{% endblock %}


					<!-- content-wrapper ends -->
					{#
					        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
					        See https://symfony.com/doc/current/security/remember_me.html
					
					        <div class="checkbox mb-3">
					            <label>
					                <input type="checkbox" name="_remember_me"> Remember me
					            </label>
					        </div>
					    #}